<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/app.css">
    <title>{{.Title}}</title>
</head>
<body>
    
    <div class="container">

        <div class="jumbotron p-4">
            <h1><i class="fa fa-home"></i> Página Inicial</h1>
            <p>Documentação da API - controle patrimônio</p>
            
        </div>
        

        <table class="table table-striped table-bordered table-hover table-hover-auto">
            <thead>
                <tr>
                    <th colspan="3">Listagem de Rotas do Endpoint</th>
                </tr>
                <tr>
                    <th>Rota</th>
                    <th>Método</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>    
                {{range .Dados}}
                <tr>
                    <td>{{.route}}</td>
                    <td>{{.method}}</td>
                    <td>{{.description}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    
        <a href="/api/app" class="btn btn-primary">Testar a aplicação</a>
        <span class="badge bg-danger  small">Master Details</span>

    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>